@keyframes MoveLeft {
  0% {
    position: relative;
    margin-left: 0;
  }

  100% {
    position: relative;
  }
}

@keyframes MoveUp {
  0% {
    position: relative;
    bottom: 0;
  }

  100% {
    position: relative;
    background-color: #f5c2cb;
    bottom: 20px;
    transition: ease-in;
  }
}
