.calendar {
  display: flex;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 728px;
  margin: 0 auto;
  flex-wrap: wrap;

  div {
    @include sizing(102px);
    position: relative;
    transition-duration: 1s;
    bottom: 0;

    &:first-child {
      animation: MoveLeft 1s ease-in;
      animation-fill-mode: forwards;
    }
    
    &:hover {
      display: inline-block;
      position: relative;
      background-color: #f5c2cb;
      bottom: 20px;
    }

    @for $i from 1 through 31 {
      &:nth-child(#{$i}) {
        @extend %placeholer-for-calendar;
      }
    }

    @for $i from 1 through 31 {
      &:nth-child(#{$i})::after {
        content: "#{$i}";
      }
    }
  }
  @each $name, $index in $weeklist {
    &-#{$name}>div:first-child {
      margin-left: $index *104px;
    }
  }
}
